{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load mathfilters %} 

{% block title %}장바구니{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "registration/cart.css" %}">
{% endblock %}

{% block content %}
    {% if items %}
        <div class="ul-container">
        <ul class="cart-item-container">
            {% for item in items %}
            <li class="cart-item">
                <div style="background-image: url('/user-media/{{ item.pd_img }}')" class="pd_img"></div>
                <div class="cart-item__info">
                    <div class="cart-item__info__top">
                        <p>{{ item.pd_name }}</p>
                        <form action="cart/delete_cart_item" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="cart_item_id" value="{{ item.id }}">
                            <button style="background-image: url({% static 'registration/cart_x.svg' %})" class="icon_x"></button>
                        </form>
                    </div>
                    <div class="cart-item__info__bottom">
                        <div class="cart-item__info__bottom__quantity" data-item-id="{{ item.id }}">
                            <form action="{% url "decrease_quantity" %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="decrease_item" value="{{ item.id }}">
                                <button style="background-image: url({% static 'registration/cart_minus.svg' %})" class="icon_minus"></button>
                            </form>
                            <span class="quantity">{{ item.quantity }}</span>
                            <form action="{% url "increase_quantity" %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="increase_item" value="{{ item.id }}">
                                <button style="background-image: url({% static 'registration/cart_plus.svg' %}" class="icon_plus"></button>
                            </div>
                        </form>
                        <p class="cart-item__info__bottom__price">{{ item.pd_price|mul:item.quantity|intcomma}}원</p>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
        </div>
        <div class="cart-total">
            <div class="cart-total__quantity">
                <span style="font-weight: bold;">총 수량</span>
                <span>{{ total_quantity }}개</span>
            </div>
            <div class="cart-total__price">
                <span style="font-weight: bold;">총 금액</span>
                <span>{{ total_price|intcomma }}원</span>
            </div>
        </div>
        <div class="order-btn">
            <p>예약 주문서 작성하기</p>
        </div>
    {% else %}
        <div class="empty">
            <p>장바구니에 담긴 상품이 없습니다 :(</p>
        </div>
    {% endif %}
{% endblock %}



