{% load static  %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "base.css" %}">
    {% block css_files %}{% endblock %}
</head>
<body>
    <header>
        <a href="{% url "index" %}">
            <div id="logo" style="background-image: url({% static "logo.svg" %});"></div>
        </a>
        <a href="{% url "cart" %}">
            <div id="icon" style="background-image: url({% static "icon.svg" %});"></div>
        </a>
    </header>
    {% block content %}{% endblock %}
</body>
</html>