<!-- <h1>{{ question.question_text }}</h1>
<ul>
{% for choice in question.choice_set.all %} 
    <li>{{ choice.choice_text }}</li>
{% endfor %}
</ul> -->

<form action="{% url 'polls:vote' question.id %}" method="post">
    <!-- 위조요청을 막기 위한 보안절차로서, form 태그 안의 모든 인풋이 들어갈 위치에 해당 태그를 넣어주기 -->
    {% csrf_token %}
    <fieldset>
        <legend><h1>{{ question.question_text }}</h1></legend>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        {% for choice in question.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
        {% endfor %}
    </fieldset>
    <input type="submit" value="제출">
</form>