.page_title {
    margin: 2rem;
}

.table_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    /* border: 1px solid blue; */
}

table {
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    height: 20rem;
}

th, td {
    border: 1px solid black;
}

.table_row {
    cursor: pointer;
}

.table_row:hover,
.table_row:active {
    background-color: crimson;
}