<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PLYY</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <!-- 헤더 -->
    <header class="header">
        <div class="align both">
            <div><button class="btn-logo" aria-label="플리 로고" id="plyyLogo"></button></div>
            <div class="header__icon-group">
                <button class="btn-bell--default" aria-label="알림 없음"></button>
                <!-- <button class="btn-bell--new" aria-label="새로운 알림 있음"></button> -->
                <button class="btn-mylikes" aria-label="나의 좋아요"></button>
                <button class="btn-myprofile2" aria-label="내 프로필" id="myProfile2"></button>
            </div>
        </div>
    </header>
    <!-- 메인 -->
    <main class="main">
        <div class="main__container">
            <!-- 로그인 -->
            <div class="login">
                <p class="login__text fs20-bold">로그인</p>
                <div class="login__input">
                    <label for="email" class="fs14">아이디</label>
                    <input type="email" class="fs14" id="email" placeholder="plyy@plyy.com">
                </div>
                <div class="login__input">
                    <label for="password" class="fs14">비밀번호</label>
                    <input type="password" class="fs14" id="password" placeholder="특수문자포함 8자리 이상">
                </div>
                <!-- 버튼 -->
                <div class="login-btns align both">
                    <button class="btn confirm">확인</button>
                    <button class="btn cancel">다음에 하기</button>
                </div>
                <a href="/signup" class="login__signup fs14">아직 플리에 가입하지 않으셨다면?</a>
            </div>
        </div>
    </main>
    <!-- 푸터 : 현재 이미지 박아넣음. 추후 컴포넌트화 필요-->
    <footer class="footer">
        <div>
            <div class="footer__img"></div>
        </div>
    </footer>
    <script src="../static/js/global.js"></script>
</body>
</html>