<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta content="yes" name="apple-mobile-web-app-capable" />  
    <meta content="minimum-scale=1.0, width=device-width, maximum-scale=1, user-scalable=no" name="viewport" />

    <title>PLYY</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <!-- 헤더 -->
    <header class="header">
        <div class="align both">
            <div><button class="btn-logo" aria-label="플리 로고"></button></div>
            <div class="header__icon-group">
                <button class="btn-bell--default" aria-label="알림 없음"></button>
                <!-- <button class="btn-bell--new" aria-label="새로운 알림 있음"></button> -->
                <button class="btn-mylikes" aria-label="나의 좋아요"></button>
                <button class="btn-myprofile2" aria-label="내 프로필"></button>
            </div>
        </div>
    </header>
    <!-- 메인 -->
    <main class="main">
        <div class="main__container">
            <!-- 메인 검색창 : 디폴트 -->
            <form class="search-type1 align both">
                <input type="text" class="fs14" placeholder="검색어를 입력하세요">
                <div class="align both">
                    <button class="btn-hash" aria-label="해시태그 검색"></button>
                    <button class="btn-search" aria-label="검색"></button>
                </div>
            </form>
            <!-- 태그 검색 -->
             <nav class="vertical-scroll">
                <ul class="search-tags" id="tagUl">
                    <!-- <li><a href="" class="fs12 badge tag"># 샘플</a></li> -->
                </ul>
             </nav>
            <!-- 메인 탭 : PLYY 활성화 -->
            <nav>
                <ul class="tab-type1" id="tabUl">
                    <li><button class="h2"onclick="showPlyyCards()">PLYY</button></li>
                    <li class="tab-type1--deactive"><button class="h2" onclick="showCuratorCards()">CURATOR</button></li>
                </ul>
            </nav>
            <!-- 플리카드 -->
            <ul class="plyy-card mg32" id="plyyUl"></ul>
            <!-- 메인화면 화살표 플로팅 아이콘 -->
            <div class="fixed-floating"><button class="btn__main__arrow" aria-label="메인에서 위로가기" id="moveToTop"></button></div>
        </div>
    </main>
    <!-- 푸터 : 현재 이미지 박아넣음. 추후 컴포넌트화 필요-->
    <footer class="footer">
        <div>
            <div class="footer__img"></div>
        </div>
    </footer>
    <script>
        // 태그 검색 fetch API
        function fetchSearchByTags() {
            fetch('/api_main/search_by_tags')
            .then(response => response.json())
            .then(data => {
                const tagUl = document.getElementById('tagUl')
                data.forEach(data => {
                    // console.log(data)
                    const newTagLi = document.createElement('li');
                    newTagLi.innerHTML = '<a class="fs12 badge tag"># ' + data.tag + '</a>';
                    tagUl.appendChild(newTagLi);
                })
            }).catch(error => console.error('데이터를 처리하는 과정에서 오류가 발생하였습니다.', error));
        };

        // 플리카드 fetch API
        function fetchPlyyCards() {
            fetch('/api_main/plyy_cards')
            .then(response => response.json())
            .then(data => {
                data.forEach(data => {
                    const plyyUl = document.getElementById('plyyUl');
                    const newPlyyCardLi = document.createElement('li');
                    newPlyyCardLi.innerHTML = `
                    <a href="/plyy/${data.plyy_card.plyy_id}">
                        <div class="plyy-card__top">
                            <img src="../static/img/P${data.plyy_card.plyy_id}.jpg" alt="" class="plyy-card__top__img">
                            <div class="badge green"><span class="hide">플레이리스트 상태</span>NEW</div>
                            <div class="plyy-card__top__tag-list">
                                <div class="badge tag"># ${data.plyy_card.g_name}</div>
                                <div class="badge tag"># ${data.plyy_card.tag_list[0]}</div>
                            </div>
                            <button class="btn-plike--unfill" aria-label="플레이리스트 좋아요 즐겨찾기"></button>
                        </div>
                        <div class="plyy-card__bottom">
                            <div>
                                <div class="plyy-card__bottom__title fs16"><span class="hide">플레이리스트 제목</span>${data.plyy_card.plyy_title}</div>
                                <div class="align both">
                                    <div class="plyy-card__bottom--cname fs12"><span class="hide">큐레이터 이름</span>curator  ${data.plyy_card.c_name}</div>
                                    <div class="plyy-card__bottom--count fs12"><span class="hide">총 수록곡, 총 플레이타임</span>${data.plyy_card.total_songs}곡 | ${data.plyy_card.total_rtime}</div>
                                </div>
                            </div>
                        </div>
                    </a>
                    `;
                    plyyUl.appendChild(newPlyyCardLi);
                })
            }).catch(error => console.error('데이터를 처리하는 과정에서 오류가 발생하였습니다.', error));
        };

        // 큐레이터 카드 fetch API
        function fetchCuratorCards(){
            fetch('/api_main/curator_cards') // api address 입력하기
            .then(response => response.json())
            .then(data => {
                data.forEach(data => {
                    const plyyUl = document.getElementById('plyyUl');
                    const newPlyyCardLi = document.createElement('li');
                    if (data.curator_card.c_label === null) {
                        newPlyyCardLi.innerHTML = `
                        <a href="/curator/${data.curator_card.id}">
                            <div class="curator-card__top">
                                <img src="../static/img/C${data.curator_card.id}.jpg" alt="" class="curator-card__top__img">
                                <div class="curator-card__top__tag-list">
                                    <div class="badge tag">${data.curator_card.c_tags[0]}</div>
                                    <div class="badge tag">${data.curator_card.c_tags[1]}</div>
                                </div>
                                <button class="btn-clike--unfill" aria-label="플레이리스트 좋아요 즐겨찾기"></button>
                            </div>
                            <div class="curator-card__bottom">
                                <div>
                                    <div class="curator-card__bottom__title fs16"><span class="hide">큐레이터 이름</span>${data.curator_card.name}</div>
                                    <div class="align left">
                                        <div class="curator-card__bottom__intro fs12"><span class="hide">큐레이터 한줄 소개</span>${data.curator_card.intro}</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        `
                    } else if (data.curator_card.c_label !== null) {
                        newPlyyCardLi.innerHTML = `
                        <a href="">
                            <div class="curator-card__top">
                                <img src="../static/img/C${data.curator_card.id}.jpg" alt="" class="curator-card__top__img">
                                <div class="badge green"><span class="hide">플레이리스트 상태</span>${data.curator_card.c_label}</div>
                                <div class="curator-card__top__tag-list">
                                    <div class="badge tag">${data.curator_card.c_tags[0]}</div>
                                    <div class="badge tag">${data.curator_card.c_tags[1]}</div>
                                </div>
                                <button class="btn-clike--unfill" aria-label="플레이리스트 좋아요 즐겨찾기"></button>
                            </div>
                            <div class="curator-card__bottom">
                                <div>
                                    <div class="curator-card__bottom__title fs16"><span class="hide">큐레이터 이름</span>${data.curator_card.name}</div>
                                    <div class="align left">
                                        <div class="curator-card__bottom__intro fs12"><span class="hide">큐레이터 한줄 소개</span>${data.curator_card.intro}</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        `
                    }
                    plyyUl.appendChild(newPlyyCardLi);                
                })
            }).catch(error => console.error('데이터를 처리하는 과정에서 오류가 발생하였습니다.', error));
        }

        // 큐레이터탭 클릭시 : 탭 변화 -> 기존 플리카드 삭제 --> 큐레이터 카드 가져오기
        function showCuratorCards() {
            // tab-type2로 변경
            let tabUl = document.getElementById('tabUl');
            tabUl.className = 'tab-type2';
            // 플리 li : 기존에 클래스 없음 -> class="tab-type1--deactive" 새로 생성
            tabUl.firstElementChild.className = 'tab-type1--deactive';
            // 큐레 li : 기존 클래스 있음 -> clss 제거 
            tabUl.lastElementChild.classList.remove('tab-type1--deactive');
            
            // 기존 플리 카드 삭제
            let plyyCards = document.getElementById("plyyUl").replaceChildren();

            // 큐레이터 카드 가져오기
            fetchCuratorCards();
        }
        // 플리탭 클릭
        function showPlyyCards() {
            // tab-type1로 변경
            let tabUl = document.getElementById('tabUl');
            tabUl.className = 'tab-type1';
            
            // 글자색 바꿔주기
            tabUl.firstElementChild.classList.remove('tab-type1--deactive');
            tabUl.lastElementChild.className = 'tab-type1--deactive'

            // 기존 큐레이터 카드 삭제
            let plyyCards = document.getElementById("plyyUl").replaceChildren();
            // 플리 카드 가져오기
            fetchPlyyCards();
        }

        // 맨 위로가기 버튼
        let moveToTop = document.getElementById("moveToTop");
        moveToTop.addEventListener('click', () => {
            window.scrollTo({ top: 0, behavior: "smooth" });
        })

        // window.onload에서 fetchSearchByTags 호출
        window.onload = function() {
            fetchSearchByTags();
            fetchPlyyCards();
        };


    </script>
</body>
</html>