<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PLYY</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <style>
        /* 추후에 JS로 song 파일에 넣을 수 있을까? */
        .main__container {
            background-image: url('../static/images/song-detail-background.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body>
    <main class="main">
        <div class="main__container">
            <!-- 유투브 비디오 -->
            <div class="song__youtube">
                <div id="youtube__area">
                    <div id="player"></div>
                </div>
            </div>
            <!-- 곡 인덱스  -->
            <div class="song__index align both">
                <div class="index badge tag">
                    <span id="currentSongIndex">1</span>
                    <span>&nbsp;/&nbsp;</span>
                    <span id="lastSongIndex"></span>
                </div>
                <button class="btn__arrow-left--white" id="preSong"></button>
                <button class="btn__arrow-right" id="nextSong"></button>
            </div>
            <!-- 곡 상세 -->
            <div class="song" id="songInfo">
                <!-- <div class="song__img"><img src="images/@album_img2.svg"></div>
                <div class="song__info">
                    <p class="h1">Attention</p>
                    <p class="fs16">뉴진스</p>
                    <p class="fs16">NewJeans 1st EP 'New Jeans'</p>
                </div> -->
            </div>
            <!-- 곡에대한 큐레이터 코멘트 -->
            <div class="song-cmt hide" id="songCmt">
                <!-- <div class="pretendard">뉴잭스윙을 시도하는 그룹이나 아티스트는 많았지만, 한 시대를 풍미한 이 장르는 최근 10년간 한국 음악 씬에서 주목받지 못했습니다.
                    그러나 케이팝의 최고 인기 그룹 뉴진스의 "Supernatural"로 인해 
                    뉴잭스윙이 마침내 메인스트림에서 주목받게 되어 정말 기쁩니다. 
                    이를 기념하기 위해 Murakami Takashi를 오마주한 아트워크와 함께 매년 여름마다 선보이는 믹셋을 업로드합니다.
                    오래 기다리셨습니다. 즐겁게 들어 주시고 시원한 여름 되세요! ☀️😎</div> -->
            </div>
            <div class="fixed-floating">
                <div class="floating-song">
                    <div><button class="btn__float__arrow__left" aria-label="뒤로가기" id="historyBack"></button></div>
                    <div><button class="btn__float__share--black" aria-label="플레이리스트 공유하기" onclick="copyToClipBoard()"></button></div>
                </div>
            </div>
            <!-- 토스트메세지 -->
            <div class="toast" id="toastMsg">
                <div class="toast__msg">
                    <div><button class="btn__checked"></button></div>
                    <span class="fs12">링크가 복사 되었습니다.</span>
                </div>
            </div>
        </div>
    </main>
    <script>
        let vidId; // 1. 함수 외부에서 vidId 변수 선언

        let apiReady = false; // 2. YouTube API가 준비되었는지 여부를 추적하는 플래그 설정

        window.onload = function() {
            fetchSongDetailList();
        };

        // URL에서 plyy id & song num 가져오기
        let songPathList = window.location.pathname.split('/');
        let songUrlInfo = songPathList[songPathList.length - 1].split('+');
        const plyyId = songUrlInfo[0]; // str
        const songNum = songUrlInfo[1]; // str

        // 전체 곡목록 fetch API
        function fetchSongDetailList(){
            fetch(`/api_song_detail/${plyyId}`)
            .then(response => response.json())
            .then(data => {
                // 이전곡 or 다음곡 버튼 클릭시
                let intSongNum = Number(songNum);
                let maxIndexNum = Number(data.length - 1); // 7
                
                const nextSong = document.getElementById('nextSong');
                nextSong.addEventListener('click', () => {
                    if(intSongNum === maxIndexNum){ // 현재 num == 마지막 곡
                        let nextNum = 0;              
                        let nextPath = `/song_detail/${plyyId}+${nextNum}`;
                        window.location.href = nextPath;
                    }else if(intSongNum !== maxIndexNum){ // 현재 num !== 마지막 곡
                        let nextNum = intSongNum + 1;
                        let nextPath = `/song_detail/${plyyId}+${nextNum}`;
                        window.location.href = nextPath;
                    }
                });

                const preSong = document.getElementById('preSong');
                preSong.addEventListener('click', () => {
                    if(intSongNum === 0){
                        let preNum = maxIndexNum;
                        let prePath = `/song_detail/${plyyId}+${preNum}`;
                        window.location.href = prePath;
                    }else if(intSongNum !== 0){
                        let preNum = intSongNum - 1;
                        let prePath = `/song_detail/${plyyId}+${preNum}`;
                        window.location.href = prePath;
                    }
                });
                
                // 인덱싱 : 마지막
                let totalSongs = data.length;
                const lastSongIndex = document.getElementById('lastSongIndex');
                lastSongIndex.innerText = totalSongs;

                // songNum에 맞는 곡 정보 찾기
                data.forEach(data => {
                    if(data.song.num == songNum){
                        // 인덱싱 : 현재 페이지
                        const currentSongIndex = document.getElementById('currentSongIndex');
                        currentSongIndex.innerText = data.song.num + 1;

                        // 곡정보 그리기
                        const songInfo = document.getElementById('songInfo');
                        songInfo.innerHTML = `
                            <div class="song__img"><img src="${data.song.img}"></div>
                            <div class="song__info">
                                <p class="h1">${data.song.title}</p>
                                <p class="fs16">${data.song.artist}</p>
                                <p class="fs16">${data.song.album}</p>
                            </div>
                        `;
                        // 코멘트(가 있는 경우에만) 그리기
                        if(data.song.cmt){
                            const songCmt = document.getElementById('songCmt');
                            songCmt.classList.remove('hide');
                            songCmt.innerHTML = `<div class="pretendard">${data.song.cmt}</div>`;
                        };

                        // Youtube vidId 추출하기
                        let vidUrl = data.song.vid;
                        let vidUrlList = vidUrl.split('=');
                        vidId = vidUrlList[vidUrlList.length - 1]; // 3. 비동기 함수 안에서 vidId 변수의 값이 할당됨

                        // YouTube IFrame API가 로드된 후 초기화
                        // 6. vidId를 설정한 후 apiReady가 true인 경우 initializeYouTubePlayer를 호출
                        if (apiReady) {
                            initializeYouTubePlayer();
                        }        
                    };
                });                
            })
        }

        // 4. YouTube IFrame API 로드
        function loadYouTubeIframeAPI() {
            // This code loads the IFrame Player API code asynchronously.
            var tag = document.createElement('script');
            tag.src = "https://www.youtube.com/iframe_api";
            var firstScriptTag = document.getElementsByTagName('script')[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);   
        }

        // 5. YouTube IFrame API 준비 완료 콜백
        function onYouTubeIframeAPIReady() {
            apiReady = true; // API가 로드되면 apiReady를 true로 설정하고,

            if (vidId) { // vidId가 이미 설정 되었다면
                initializeYouTubePlayer(); // initializeYouTubePlayer를 호출하여 플레이어를 초기화
            }
        }

        // YouTube 플레이어 초기화. 7. 호출됨
        function initializeYouTubePlayer() {
            player = new YT.Player('player', {
                videoId: vidId,
                events: {
                    'onReady': onPlayerReady
                }
            });
        }

        function onPlayerReady(event) {
            event.target.playVideo();
        }

        // 페이지 로드 시 YouTube IFrame API 로드
        loadYouTubeIframeAPI();

        // 플로팅 : 공유버튼 클릭시 클립보드 복사 --> 토스트 메세지
        function copyToClipBoard(){
            let songDetailUrl = window.location.href;

            let dummyInput = document.createElement('input');
            document.body.appendChild(dummyInput);
            dummyInput.value = songDetailUrl;
            dummyInput.select();
            document.execCommand('copy');
            document.body.removeChild(dummyInput);

            const toastMsg = document.getElementById('toastMsg');
            toastMsg.classList.add('active');
            setTimeout(() => {
                toastMsg.classList.remove('active');
            }, 1500);
        }

        function nextSong(p_id, next_num){
            let nextPath = `/song_detail/${p_id}+${next_num}`;
            window.location.href = nextPath;
        }

        // global.js 파일 왜 안먹지 ?
        document.getElementById('historyBack').addEventListener('click', () => {
            window.history.back();
        })
    </script>
    <script src="../static/js/global.js"></script>
</body>
</html>