ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 25.3rem;

    list-style: none;
    
    margin: 2rem auto;
    padding: 1rem;
    
    width: 90%;
    max-width: 20rem;
    
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 12px;

    background-color: rgb(239, 229, 202);
}

li {
    margin: 1rem 0;
    text-align: center;
    font-size: 1rem;
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.5rem;
}

/* li의 맨 마지막 + 6번째 아이템 잡기 --> 6의 배수 아이템 잡기 */
/* li:last-of-type, */
li:nth-of-type(6n) {
    border-bottom: none;
    padding-bottom: 0;
}

li a {
    text-decoration: none;
    color: black;
}

/* a태그 hover, active 되었을 때의 효과 */
li a:hover,
li a:active {
    color: rgb(241, 137, 222);
}